<div class="d-flex justify-content-center align-items-center bg">
  <div id="sign-up-form">
    <div class="key">
      <i class="fas fa-key"></i>
    </div>
    <h2 class="text-center text-white">Sign up</h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :name,
                    required: true,
                    autofocus: true,
                    placeholder: 'Bob Vance' %>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    placeholder: 'bob@example.com',
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :avatar %>
        <%= f.input :avatar_cache, as: :hidden %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up", class: "btn-style-signup" %>
      </div>
    <% end %>
    <div class="login-btn-su">
      <div class="container">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
