<div class="container index-list">
  <div style="margin-top: 5rem;">
    <h1 class="text-center">My bookings</h1>
  </div>

  <div class="m-5">
    <% @bookings.each do |b| %>
      <div class="card-product mb-3">
        <%= cl_image_tag b.scooter.photo, width: 120, height: 120  %>
        <div class="card-product-infos">
          <h2 class="text-left"><%= b.scooter.name %></h2>
          <p>
            <%= b.start_date %> - <%= b.end_date %> (<strong><%= days = ((b.end_date - b.start_date) + 1).to_i %></strong> days)
          </p>
          <p>
            <strong>Rp <%= (b.scooter.price).to_i * days %></strong>
          </p>
          <p><%= b.scooter.description %></p>
        </div>
        <div class="card-product-actions">
          <h6 class="pb-3">
            <%= link_to edit_booking_path(b), class: 'log-in' do %>
              <i class="fas fa-edit"></i>
            <% end %>
          </h6>

          <h6 class="pb-3">
            <%= link_to booking_path(b), method: :delete, class: 'log-in', data: { confirm: 'Cancel booking?' }, alt: 'Cancel booking' do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </h6>

          <h6>
            <%= link_to booking_path(b), class: 'log-in', alt: 'Add review' do %>
              <i class="fas fa-plus"></i>
            <% end %>
          </h6>
        </div>
      </div>
    <% end %>

    <%= link_to "Back to list", scooters_path, class: 'btn sign-up mt-5'  %>
  </div>
</div>
