<div class="container">
  <div class="m-5">
    <% @bookings.each do |b| %>
      <div class="card-product mb-3">
        <%= cl_image_tag b.scooter.photo, width: 120, height: 120  %>
        <div class="card-product-infos">
          <h5><%= b.scooter.name %></h5>
          <p><%= b.start_date %> - <%= b.end_date %></p>
          <p><%= b.scooter.description %></p>
          <h6><%= link_to "Add review", booking_path(b), class: 'text text-secondary'  %></h6>
        </div>
      </div>
    <% end %>
  </div>
</div>
