<div id="user">
  <div class="" id="my-title">
    <div class="user-name">
      <% if @user.name.present? %>
        <h1><%= @user.name %></h1>
      <% else %>
        <h1>John Doe</h1>
      <% end %>
    </div>
  </div>

  <div class="container">
    <div class="user-profile">
      <div class="user-card">
        <div class="user-acc">
          <div class="user-avatar text-center">
            <% if @user.avatar.present? %>
              <%= cl_image_tag @user.avatar, alt: @user.name, width: 240, height: 240, crop: :fill, g: :face, radius: :max %>
            <% else %>
              <%= image_tag "http://diazworld.com/images/avatar-placeholder.png", alt: "avatar-placeholder", width: 240, height: 240 %>
            <% end %>
            <div class="user-socials">
              <h6 class="text-center">Be sure to follow me on social media!</h6>
              <ul class="list-inline text-center" style="color: #C4C4C4;">
                <li class="list-inline-item socials">
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
                <li class="list-inline-item socials">
                  <a href="#"><i class="fab fa-twitter-square"></i></a>
                </li>
                <li class="list-inline-item socials">
                  <a href="#"><i class="fab fa-facebook-square"></i></a>
                </li>
                <li class="list-inline-item socials">
                  <a href="#"><i class="fab fa-github-square"></i></a>
                </li>
                <li class="list-inline-item socials">
                  <a href="#"><i class="fas fa-envelope"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="acc-settings">
          <%= link_to "Account credentials", edit_user_registration_path, class: 'user-btn' %>

          <%= link_to "Delete account", user_registration_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'user-btn' %>
        </div>

      </div>
      <div class="user-content">
        <h4 class="my-3">My Scooters</h4>
        <div class="own-scooter">
          <% @user.scooters.each do |scoot| %>
            <ul class="list-group">
              <li class="list-group-item mb-2">
                <div class="scoot-details scoot-deets">
                  <%= cl_image_tag scoot.photo, width: 200, height: 200, crop: :fill %>
                  <ul style="list-style: none;">
                    <li>
                    <h4><%= scoot.name %></h4>
                    </li>
                    <li>
                      <h6>Status: <%= scoot.status %></h6>
                    </li>
                    <li>
                      <p><%= scoot.description %></p>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
