<div class="login-body d-flex align-items-center justify-content-center">
  <div class="login">
    <div class="key">
      <i class="fas fa-key"></i>
    </div>
    <h2>Log in</h2>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    placeholder: "bob@example.com",
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    placeholder: "··········",
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="d-flex justify-content-center">
        <%= f.button :submit, "Log in", class: "login-btn" %>
      </div>
    <% end %>
    <div class="devise-shared-link d-flex flex-column align-items-center">
      <%= render "devise/shared/links", class: "login-link" %>
    </div>
  </div>
</div>

