<div class="index-list">
  <h2 class="list-title">Scooter List</h2>
  <div class="text-center">
    <% if policy(Scooter).new? %>
      <%= link_to 'Add a Scooter', new_scooter_path, class: 'btn sign-up mb-5' %>
    <% end %>
  </div>

  <div class="main-container">
    <div
      id="all-map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>

    <div class="cards">
      <% @scooters.each do |scooter| %>
        <div class="card">
          <%= cl_image_tag scooter.photo, alt: scooter.name, class: 'card-img-top',height: 200 %>
          <div class="card-body">
            <h5 class="card-title"><%= scooter.name %></h5>
            <p><strong>Rp <%= scooter.price %></strong></p>
            <p><%= scooter.status %></p>
            <p class="card-text"><%= scooter.description %></p>
          </div>
          <div class="card-actions">
            <%= link_to "More info", scooter_path(scooter), class: 'action text-primary'  %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
