<div class="container">
  <%= simple_form_for @scooter do |f| %>
    <%= f.input :description %>
    <%= f.input :status, collection: ['Available', 'Unavailable']  %>
    <%= f.input :location %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>
