<div class="container show-list">
  <div class="scoot">
    <div id="map" class="text-center">
      <p><%= @scooter.location %></p>
    </div>

    <div class="details text-center">
      <div class="name-card">
        <h1 class="border-bottom"><%= @scooter.name %></h1>
        <%= cl_image_tag @scooter.photo, crop: :fill, width: 400, height: 300 %>
      </div>
      <h6 class="text-right">
        <% if policy(@scooter).destroy? %>
          <%= link_to "Delete", scooter_path(@scooter), method: :delete, class: 'btn btn-warning', data: { confirm: 'Are you sure?' } %>
        <% end %>
      </h6>

      <div class="desc-card">
        <p><strong>Status</strong>: <%= @scooter.status %></p>
        <p><strong>Description</strong>: <%= @scooter.description %></p>
        <p><strong>Price / day</strong>: $ <%= @scooter.price %>.00</p>
      </div>

      <div class="booking-card">
        <div class="container mt-3">
          <h3 class="border-bottom">Booking Details</h3>
          <p id="days"></p>
        </div>
        <%= render 'bookings/form' %>
      </div>

      <div class="review-card">
        <div class="container mt-3">
          <h3 class="border-bottom">Reviews</h3>
        </div>

        <div class="reviews">
          <br>
          <h4>All reviews</h4>
          <% @reviews.each do |review| %>
            <ul style="padding: 0; list-style: none;">
              <li class="text-left">
                <strong><%= review.booking.user.name %></strong> (<%= review.created_at %>):
                <br>
                <% review.rating.times do %>
                  <i class="fas fa-star" style="color: #F9A468"></i>
                <% end %>
                <% if review.content.present? %>
                  - <%= review.content %>
                <% end %>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>

    <div id="back">
      <%= link_to 'Back to list', scooters_path, class: 'btn sign-up'  %>
    </div>
  </div>
</div>
